* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,
footer {
    background-color: rgba(14,17,22,255);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.menu > h1 {
    font-family: 'Tangerine', cursive;
    font-size: 8rem;
    text-shadow: 4px 4px 4px black;    color: white;
    text-align: center;
}

.s1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

.s1 > h2 {
    margin: 30px 10px 10px 10px;
}

.s1head {
    color: rgba(130,234,135,255);
}

.s1bg {
    height: 110vh;
    width: 100%;
    /* background-color: #EFDECD; */
    background-color: rgba(14,17,22,255);
    box-shadow: 0px 0px 30px 20px #0E1116;
}

h2 {
    font-family: 'Aboreto', cursive;
    font-size: 4rem;
    text-align: center;
    color: white;
}

.s1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px 0px 15px 0px;
}

/* div > ol {
    height: 100%;
} */

div > div {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 10px;
}

#searchbar {
    padding: 15px;
    border-radius: 10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}

#list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.0rem;
    width: 95%;
}

#list > * {
    height: 200px;
    width: 200px;
    text-align: center;
}

.job {
    display: none;
    border: 2px black solid;
    margin: 10px;
    background: rgba(0,255,196,0.6);
    background: linear-gradient(180deg, rgba(0,255,196,1) 0%, rgba(0,206,255,1) 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: searchItems;
    animation-duration: 650ms;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 5px 2px #fff;
}

ol {
    max-height: calc(55px * 12);
    overflow-y: auto;
}

@keyframes searchItems {
    0% {opacity: 0.1};
    11% {opacity: 0.2};
    23% {opacity: 0.3};
    35% {opacity: 0.4};
    47% {opacity: 0.5};
    59% {opacity: 0.6};
    71% {opacity: 0.7};
    83% {opacity: 0.8};
    95% {opacity: 0.9};
    100% {opacity: 1.0};
}

