* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main,
footer {
    background-color: rgba(14, 17, 22, 1);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.menu > h1 {
    font-family: 'Tangerine', cursive;
    font-size: 8rem;
    text-shadow: 4px 4px 4px black;    
    color: white;
    text-align: center;
}

.s1,
.s2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}

.s1head {
    color: rgba(130, 234, 135, 1);
}

.s2head {
    color: rgba(183, 0, 255, 1);
}

.s1bg {
    height: 110vh;
    width: 100%;
    /* background-color: #EFDECD; */
    background-color: rgba(14, 17, 22, 1);
    box-shadow: 0px 0px 30px 25px rgba(14, 17, 22, 1);
}

.s2bg {
    height: 100vh;
    width: 100%;
    background-color: rgba(14, 17, 22, 1);
    box-shadow: 0px 0px 30px 20px rgba(14, 17, 22, 1);
}

h2 {
    font-family: 'Aboreto', cursive;
    font-size: 4rem;
    text-align: center;
    color: white;
    margin: 30px 10px 10px 10px;
}

.s1 > h2 {
    text-shadow: #FC0 1px 0 5px;
}

.s2bg > h2 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.s1 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0px 0px 15px 0px;
}

.s1 > div > div,
.s2 > div {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    margin: 10px;
}



/* Scrollbar Rules Start*/
::-webkit-scrollbar {
    width: 7px;
}

div > ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

div > ::-webkit-scrollbar-thumb {
    background-color: black;
    border: 1px rgba(255, 255, 255, 1) solid;
    /* 
    I'm actually lolling.
    box-shadow: 0px 0px 5px 5px white; 
    */
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Scrollbar Rules End */



/* Searchbar Rules Start */
#searchbar,
#grossInput {
    padding: 15px;
    border-radius: 10px;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}

#list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.0rem;
    width: 95%;
}

#list > * {
    height: 200px;
    width: 200px;
    text-align: center;
}

ol {
    max-height: calc(55px * 12);
    overflow-y: auto;
}

.job {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    background: rgba(0, 255, 196, 0.6);
    background: linear-gradient(180deg, rgba(0, 255, 196, 1) 0%, rgba(0, 206, 255, 1) 100%);
    box-shadow: 0px 0px 5px 2px #fff;
    margin: 10px;
    animation: searchItems;
    animation-duration: 650ms;
    animation-timing-function: ease-in-out;
}

#list > div:hover {
    animation: radiantGlow;
    animation-duration: 1100ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

@keyframes searchItems {
    0% {opacity: 0.1};
    11% {opacity: 0.2};
    23% {opacity: 0.3};
    35% {opacity: 0.4};
    47% {opacity: 0.5};
    59% {opacity: 0.6};
    71% {opacity: 0.7};
    83% {opacity: 0.8};
    95% {opacity: 0.9};
    100% {opacity: 1.0};
}

@keyframes radiantGlow {
    from {
        background: radial-gradient(#00ffc4 10%, #00ceff 100%);
    }
    5% {
        background: radial-gradient(#00ffc4 15%, #00ceff 100%);
    }
    10% {
        background: radial-gradient(#00ceff 10%, #00ffc4 20%, #00ceff 100%);
    }
    15% {
        background: radial-gradient(#00ceff 15%, #00ffc4 25%, #00ceff 100%);
    }
    20% {
        background: radial-gradient(#00ceff 20%, #00ffc4 30%, #00ceff 100%);
    }
    25% {
        background: radial-gradient(#00ceff 25%, #00ffc4 35%, #00ceff 100%);
    }
    30% {
        background: radial-gradient(#00ceff 30%, #00ffc4 40%, #00ceff 100%);
    }
    35% {
        background: radial-gradient(#00ceff 35%, #00ffc4 45%, #00ceff 100%);
    }
    40% {
        background: radial-gradient(#00ceff 40%, #00ffc4 50%, #00ceff 100%);
    }
    45% {
        background: radial-gradient(#00ceff 45%, #00ffc4 55%, #00ceff 100%);
    }
    50% {
        background: radial-gradient(#00ceff 50%, #00ffc4 60%, #00ceff 100%);
    }
    55% {
        background: radial-gradient(#00ceff 55%, #00ffc4 65%, #00ceff 100%);
    }
    60% {
        background: radial-gradient(#00ceff 60%, #00ffc4 70%, #00ceff 100%);
    }
    65% {
        background: radial-gradient(#00ceff 65%, #00ffc4 75%, #00ceff 100%);
    }
    70% {
        background: radial-gradient(#00ceff 70%, #00ffc4 80%, #00ceff 100%);
    }
    75% {
        background: radial-gradient(#00ceff 75%, #00ffc4 85%, #00ceff 100%);
    }
    80% {
        background: radial-gradient(#00ceff 80%, #00ffc4 90%, #00ceff 100%);
    }
    85% {
        background: radial-gradient(#00ceff 85%, #00ffc4 95%, #00ceff 100%);
    }
    90% {
        background: radial-gradient(#00ceff 90%, #00ffc4 100%, #00ceff 100%);
    }
    95% {
        background: radial-gradient(#00ceff 95%, #00ffc4 100%);        
    }
    to {
        background: radial-gradient(#00ceff 100%);
    }
}
/* Searchbar Rules End*/